<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quimica Pepe V2</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/estilos.css">
    <script src="https://kit.fontawesome.com/56282d3843.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
            <a class="navbar-brand" href="../index.html"><img id="logo" src="../img/logo.png" class="d-inline-block align-center" alt="Logo Quimica Pepe" loading="lazy"><span id="navText" class="ml-3">Quimica Pepe</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
                </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="./nosotros.html">Sobre Nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./productos.html">Nuestros Productos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./ubicacion.html">Donde Encontrarnos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./contacto.html">Contactanos</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main role="main">
        <section class="jumbotron text-center my-5">
            <div class="container">
                <h1>Nuestros Productos</h1>
                <p class="lead text-muted">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum saepe sed eius autem aut perspiciatis officia aperiam illo fugit atque excepturi, iusto alias incidunt facilis et natus corporis ea cupiditate.</p>
            </div>
        </section>

        <div class="album py-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img src="../img/prod1.jpg" class="card-img-top productPic" alt="Producto">
                            <div class="card-body">
                                <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil ipsam dolores nesciunt velit dignissimos debitis, quo id amet nisi quod illum alias illo quae architecto repellendus dolorem accusantium, quia veritatis.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img src="../img/prod2.jpg" class="card-img-top productPic" alt="Producto">
                            <div class="card-body">
                                <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil ipsam dolores nesciunt velit dignissimos debitis, quo id amet nisi quod illum alias illo quae architecto repellendus dolorem accusantium, quia veritatis.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img src="../img/prod3.jpg" class="card-img-top productPic" alt="Producto">
                            <div class="card-body">
                                <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil ipsam dolores nesciunt velit dignissimos debitis, quo id amet nisi quod illum alias illo quae architecto repellendus dolorem accusantium, quia veritatis.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img src="../img/prod4.jpg" class="card-img-top productPic" alt="Producto">
                            <div class="card-body">
                                <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil ipsam dolores nesciunt velit dignissimos debitis, quo id amet nisi quod illum alias illo quae architecto repellendus dolorem accusantium, quia veritatis.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img src="../img/prod5.jpg" class="card-img-top productPic" alt="Producto">
                            <div class="card-body">
                                <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil ipsam dolores nesciunt velit dignissimos debitis, quo id amet nisi quod illum alias illo quae architecto repellendus dolorem accusantium, quia veritatis.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img src="../img/prod6.jpg" class="card-img-top productPic" alt="Producto">
                            <div class="card-body">
                                <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil ipsam dolores nesciunt velit dignissimos debitis, quo id amet nisi quod illum alias illo quae architecto repellendus dolorem accusantium, quia veritatis.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="footer fixed-bttm bg-light py-3 text-center">
        <div class="container">
            <span class="text-muted">Quimica Pepe - 2020</span>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>

</html>

</html>