@import url("https://fonts.googleapis.com/css2?family=Francois+One&family=Oswald&display=swap");
.bgEnter {
  background-image: url(../../img/img1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.glow {
  box-shadow: 0.2rem 0.2rem #fff; }

h1,
h3,
.card-title {
  font-family: "Oswald", sans-serif; }

.cardSpace {
  margin-top: 1.5rem; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

#logo {
  height: 2.3rem; }

#navText {
  font-family: "Francois One", sans-serif;
  font-size: 1.5rem; }

.contentBg {
  background-color: #e9ecef; }

.notiOver {
  opacity: 0;
  transition: .5s ease; }

.notiCard:hover .notiImg {
  --webkit-filter: blur(4px);
  filter: blur(4px); }

.notiCard:hover .notiOver {
  opacity: 1; }

.fixed-bttm {
  position: fixed;
  bottom: 0;
  width: 100%; }

.productPic {
  height: auto; }

iframe {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0; }

.my-7 {
  margin: 5rem 0; }

.my-6 {
  margin: 4rem 0; }

.placeList {
  list-style-type: none;
  column-count: 2;
  margin-top: 2rem; }

@media only screen and (min-width: 0px) and (max-width: 500px) {
  .carousel-control-next,
  .carousel-control-prev {
    filter: invert(100%); } }

@media only screen and (min-width: 500px) {
  #logo {
    height: 4rem; }
  .bgEnter {
    background-image: url(../../img/img1.jpg);
    background-repeat: no-repeat;
    background-position: center; } }

@media only screen and (min-width: 0px) and (max-width: 500px) {
  #navText {
    display: none; } }

@media only screen and (min-width: 500px) and (max-width: 800px) {
  #emailLink {
    font-size: 0.83rem; } }

@media only screen and (min-width: 500px) {
  .my-7 {
    margin: 6rem 0; }
  .my-6 {
    margin: 5.7rem 0; } }

@media only screen and (min-width: 500px) {
  iframe {
    width: 100%;
    height: 25rem;
    padding: 0;
    margin: 0; }
  .placeList {
    list-style-type: none;
    line-height: 1rem;
    column-count: 1;
    text-align: center;
    margin-top: 6rem; } }
